<div class="container mt-5">
        <app-notify [type]="typeResponse" [listMessage]="listMessageResponse"></app-notify>
    <div class="card">
        <div class="card-header">
            <h4>Registro de Actividades</h4>
        </div>
        <div class="card-body">
            <form [formGroup]="frmPaisInsert">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre de la Actividad</label>
                                <input type="text" class="form-control" id="nombre" placeholder="Ingrese un nombre" formControlName="nombre"
                                    style="width: 400px;" />
                                    <div *ngIf="(nombreActividadFb.touched || nombreActividadFb.dirty) && nombreActividadFb.errors && nombreActividadFb.hasError('required')"
                                        class="divError">Este campo es requerido.</div>
                            </div>
                            
                            <div class="mb-3">
                                <label for="inicio" class="form-label">Fecha y Hora de Inicio</label>
                                <input type="datetime-local" class="form-control" id="inicio" placeholder="Ingrese la fecha y hora de inicio"
                                    formControlName="fecha_hora_inicio" style="width: 400px;" />
                                <div *ngIf="(fechaInicioFb.touched || fechaInicioFb.dirty) && fechaInicioFb.errors && fechaInicioFb.hasError('required')"
                                    class="divError">Este campo es requerido.</div>
                            </div>
                            
                            <div class="mb-3">
                                <label for="termino" class="form-label">Fecha y Hora de Término</label>
                                <input type="datetime-local" class="form-control" id="termino" placeholder="Ingrese la fecha y hora de término"
                                    formControlName="fecha_hora_termino" style="width: 400px;" />

                                    <div *ngIf="(fechaFinFb.touched || fechaFinFb.dirty) && fechaFinFb.errors && fechaFinFb.hasError('required')"
                                        class="divError">Este campo es requerido.</div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary m-2" (click)="save()">Registrar</button>
                    </div>
                    <div class="col-md-6 justify-content-end">
                        <table class="table table-striped  table-bordered text-center">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Fecha de inicio</th>
                                    <th scope="col">Fecha de termino</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let value of filteredPaises">
                                    <td>{{ value.nombre }}</td>
                                    <td>{{ value.fecha_hora_inicio | date:'dd-MM-yyyy HH:mm' }}</td>
                                    <td>{{ value.fecha_hora_termino | date:'dd-MM-yyyy HH:mm' }}</td>
                                    <td>
                                        <button class="btn btn-danger" (click)="delete(value.idActividad)">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>