<div class="container mt-4">
		<app-notify [type]="typeResponse" [listMessage]="listMessageResponse"></app-notify>
	<div class="card">
		<div class="card-header text-center">
			<h5>Lista de Personas</h5>
		</div>
		<div class="card-body" *ngIf="listPerson && listPerson.length > 0; else noData">
			<table class="table table-striped table-hover table-bordered text-center">
				<thead class="table-dark">
					<tr>
						<th scope="col">Nombre</th>
						<th scope="col">Apellidos</th>
						<th scope="col">N° DNI</th>
						<th scope="col">Genero</th>
						<th scope="col">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let value of listPerson; let i = index">
						<td>{{value.firstName}}</td>
						<td>{{value.surName}}</td>
						<td>{{value.dni}}</td>
						<td>{{value.gender ? 'Masculino' : 'Femenino'}}</td>
						<td class="text-center">
							<button class="btn btn-warning btn-sm me-2 text-white"
								(click)="showModal(modaEditPerson, i)"><i class="bi bi-pencil-square"></i>
								Editar</button>
							<button class="btn btn-danger btn-sm text-white" (click)="delete(value.idPerson)"><i
									class="bi bi-trash3"></i> Eliminar</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<ng-template #noData>
			<div class="alert alert-info mx-3 mt-3 text-center" role="alert">
				No hay datos disponibles
			</div>
		</ng-template>
		<ng-template #modaEditPerson>
			<div class="modal-header text-center">
				<h4 class="modal-title w-100">Modificar datos de persona</h4>
			</div>
			<div class="modal-body">
				<form [formGroup]="frmEditPerson">
					<div class="row">
						<div class="col-md-6 mb-6">
							<label for="" class="form-label">Nombre</label>
							<input type="text" formControlName="firstName" class="form-control">
						</div>
						<div class="col-md-6 mb-6">
							<label for="" class="form-label">Apellido</label>
							<input type="text" formControlName="surName" class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 mb-6">
							<label for="" class="form-label">DNI</label>
							<input type="text" formControlName="dni" class="form-control">
						</div>
						<div class="col-md-6 mb-6">
							<label for="" class="form-label">Género</label>
							<div class="radioGroup">
								<label for="" class="me-2">
									<input type="radio" formControlName="gender" value="true">
									Masculino
								</label>
								<label for="">			
									<input type="radio" formControlName="gender" value="false">
									Femenino
								</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 mb-6">
							<label for="" class="form-label">Fecha de nacimiento</label>
							<input type="date" formControlName="birthDate" class="form-control">
						</div>
					</div>
				</form>
			</div>
			<hr>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" (click)="closeModal()"><i class="bi bi-x"></i> Cerrar modal</button>
				<button class="btn btn-primary" (click)="onClickSaveChanges()"><i class="bi bi-check-lg"></i> Guardar cambios</button>
			</div>
		</ng-template>
	</div>
</div>