

.no-data {
    background-color: #e0f7fa; /* Color de fondo para el mensaje */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    margin-top: 20px; /* Espacio entre el título y el mensaje */
}

h2 {
    margin: 0; /* Elimina margen por defecto del encabezado */
}